* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: black; }

header {
  padding-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  height: 291px;
  font-size: 30px;
  color: #ffff00;
  background: #232400;
  background: linear-gradient(90deg, #232400 0%, #ffd100 100%);
  text-align: center; }
  header .Foto1 {
    border-radius: 50%; }
  header .titulo {
    padding-left: 15px; }
  header .P1 {
    color: #ffffff;
    font-size: 24px;
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
    padding-top: 4px;
    transition: all 2s ease; }
  header .P1:hover {
    color: #000000; }
  header nav {
    text-align: left;
    background-color: #00000060;
    transition: all 3s ease; }
  header .titulo1 {
    padding-left: 15px; }
  header .titulo2 {
    padding-left: 15px; }
  header ul {
    list-style: none;
    margin-left: 15px; }
  header li {
    display: inline-block;
    position: relative;
    font-size: 22px;
    margin: 8px 10px; }
  header ul ul {
    position: absolute;
    display: none;
    font-size: 10px;
    margin-left: 15px; }
  header a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Oswald', sans-serif; }

.header3, .header4 {
  text-align: center; }
  .header3 h2, .header4 h2 {
    padding-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px; }
  .header3 nav, .header4 nav {
    text-align: center; }

.header4 h2 {
  padding-bottom: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px; }

.header4 nav {
  text-align: center; }

.formulario .Borde {
  text-align: center;
  margin-left: 1rem;
  margin-top: 10px;
  max-width: 300px;
  max-height: 590px;
  border-radius: 10px;
  border-color: black;
  color: black;
  background-image: url(./fotos/istockphoto-1323037452-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.formulario div {
  font-family: 'Oswald', sans-serif;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold; }

.formulario .Pais {
  text-align: left;
  color: #000000;
  font-size: 20px;
  font-weight: bold; }

.formulario .Botones {
  text-align: center;
  margin-bottom: 20px; }

.subt {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 10px;
  color: #ffff00;
  text-decoration: underline; }

p {
  margin-left: 5px;
  color: white;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  transition: all 2s ease; }

p:hover {
  color: green; }

.contenedor {
  width: 95%;
  height: 650px;
  border-style: ridge;
  border-color: #000000;
  text-align: left;
  padding-top: 5px;
  margin-left: 1rem;
  margin-right: 0.5rem; }
  .contenedor .texto h2 {
    text-align: center;
    color: #ffff00;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline #008000;
    padding-top: 0.5rem; }
  .contenedor .texto p {
    margin-left: 5px;
    color: white;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    transition: all 2s ease; }
  .contenedor .texto p:hover {
    color: green; }

.texto1 h2 {
  padding-bottom: 5px;
  text-align: left;
  color: #ffd100;
  text-decoration: underline green;
  font-family: 'Roboto Condensed', sans-serif; }

.texto1 p {
  text-align: left;
  padding-bottom: 15px; }

.texto2 h2 {
  padding-bottom: 5px;
  text-align: left;
  color: #ffd100;
  text-decoration: underline green;
  font-family: 'Roboto Condensed', sans-serif; }

.texto2 .textop {
  text-align: left;
  padding-bottom: 15px; }

.caja {
  margin-top: 10px; }
  .caja .section1 {
    background-color: #000000;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }
    .caja .section1 .apicultor {
      text-align: center; }
    .caja .section1 h2 {
      text-align: center;
      color: #ffff00;
      text-decoration: underline #0eb90e;
      font-family: 'Roboto Condensed', sans-serif; }
    .caja .section1 p {
      text-align: center;
      padding-bottom: 15px;
      font-size: 26px; }
  .caja .section2 {
    background-color: black;
    width: 80%;
    margin: auto; }
    .caja .section2 .apicultor {
      text-align: center; }
    .caja .section2 h2 {
      text-align: center;
      color: #ffff00;
      text-decoration: underline #0eb90e;
      font-family: 'Roboto Condensed', sans-serif; }
    .caja .section2 p {
      text-align: center;
      padding-bottom: 15px;
      font-size: 26px; }

footer {
  margin-bottom: 5rem;
  text-align: center; }
  footer .Foto1 {
    margin-top: 13.5px;
    border-radius: 50%;
    margin-left: 5px; }
  footer .CEO {
    margin-left: 10px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 1rem;
    transition: all 3s ease; }
  footer .CEO:hover {
    font-size: 25px;
    color: yellow; }
  footer .redes {
    padding-left: 5px; }

.grid {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2fr 1fr 1fr;
  grid-template-areas: "header header header" "formulario contenedor contenedor" "formulario contenedor contenedor" "container container container" "footer footer footer"; }

.grid > main,
.grid .header,
.grid .formulario,
.grid .contenedor,
.grid .container,
.grid .footer {
  grid-area: footer; }

.grid .header {
  grid-area: header;
  text-align: left; }

.grid .formulario {
  grid-area: formulario; }

.grid .contenedor {
  grid-area: contenedor;
  text-align: left; }

.grid .container {
  grid-area: container;
  margin-top: 10px; }

.grid1 {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.8fr 0.5fr 1fr;
  grid-template-areas: "header1 header1 header1" "texto1 texto1 texto1" "video video video" "footer1 footer1 footer1"; }

.grid1 > main,
.grid1 .header1,
.grid1 .texto1,
.grid1 .video,
.grid1 .footer1 {
  grid-area: footer1;
  text-align: center; }

.grid1 .header1 {
  grid-area: header1;
  text-align: center; }

.header1 nav {
  margin-top: 10px;
  text-align: center; }

.grid1 .texto1 {
  margin: auto;
  width: 90%;
  grid-area: texto1;
  padding-top: 10px;
  text-align: center; }

.grid1 .video {
  grid-area: video;
  text-align: center;
  border: #0eb90e 3px; }

.grid2 {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 268px 1fr;
  grid-template-areas: "header2 header2 header2" "texto2 texto2 texto2" "container2 container2 container2" "footer2 footer2 footer2"; }

.grid2 > main,
.grid2 .header2,
.grid2 .texto2,
.grid2 .container2,
.grid2 .footer2 {
  grid-area: footer2;
  text-align: center;
  padding-top: 15px; }

.grid2 .header2 {
  grid-area: header2;
  padding-top: 30px;
  text-align: center; }

.header2 nav {
  text-align: center; }

.grid2 .texto2 {
  width: 95%;
  grid-area: texto2;
  padding-top: 10px;
  margin-left: 20px;
  text-align: left; }

.grid2 .container2 {
  grid-area: container2;
  padding-top: 5px;
  text-align: left;
  padding-left: 20px; }

.grid3 {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 268px 1fr;
  grid-template-areas: "header3 header3 header3 header3" "mapa mapa mapa mapa" "footer3 footer3 footer3 footer3"; }

.grid3 > main,
.grid3 .header3,
.grid3 .header4,
.grid3 .mapa,
.grid3 .footer3 {
  grid-area: footer3;
  text-align: center; }


.grid3 .header3,
.grid3 .header4 {
  grid-area: header3; }

.grid3 .mapa {
  grid-area: mapa; }

.grid4 {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4px 1fr 0.4fr;
  grid-template-areas: "header4 header4 header4 header4" "caja caja caja caja" "footer4 footer4 footer4"; }

.grid4 .header4 {
  grid-area: header4; }

.grid4 .caja {
  grid-area: caja; }

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.2fr 620px 2.9fr 0.2fr;
    grid-template-areas: "header header header" "formulario formulario formulario" "contenedor contenedor contenedor" "container container container" "footer footer footer"; } }

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 265px 1fr 1fr;
    grid-template-rows: 0.4fr 1.9fr;
    grid-template-areas: "header header header" "formulario contenedor contenedor" "container container container" "footer footer contenedor"; } }

@media screen and (max-width: 550px) {
  .grid1 {
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "header1 header1 header1" "texto1 texto1 texto1" "video video video" "footer1 footer1 footer1"; } }

@media screen and (min-width: 768px) {
  .grid1 {
    grid-template-columns: 2fr;
    grid-template-rows: 0.4fr 0.2fr 0.4fr;
    grid-template-areas: "header1 header1 header1" "texto1 texto1 texto1" "video video video" "footer1 footer1 footer1"; } }

@media screen and (max-width: 550px) {
  .grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: 295px 0.1fr 0.1fr;
    grid-template-areas: "header2 header2 header2" "texto2 texto2 texto2" "container2 container2 container2" "footer2 footer2 footer2"; } }

@media screen and (min-width: 768px) {
  .grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 1fr 0.2fr;
    grid-template-areas: "header2 header2 header2" "texto2 texto2 texto2" "container2 container2 container2" "footer2 footer2 footer2"; } }

@media screen and (max-width: 550px) {
  .grid3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: "header3" "mapa" "footer3"; } }

@media screen and (min-width: 768px) {
  .grid3 {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: "header3 header3 header3" "mapa mapa mapa" "footer3 footer3 footer3"; } }

@media screen and (max-width: 550px) {
  .grid4 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "header4" "caja" "footer4"; } }

@media screen and (min-width: 768px) {
  .grid4 {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "header4 header4 header4" "caja caja caja" "footer4 footer4 footer4"; } }
